:root {
  --sl-color-accent-low: #dceafe;
  --sl-color-accent: #2563eb;
  --sl-color-accent-high: #172554;
}

[data-theme='dark'] {
  --sl-color-accent-low: #172554;
  --sl-color-accent: #60a5fa;
  --sl-color-accent-high: #dbeafe;
}
